@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.container{
padding: 130px 0 0;

}

.container .maxWidth{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}


.maxWidth .triangle{
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    

}

.triangle .triangle-wrapper{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    

}


.triangle-wrapper .dots{
    margin-top: 30px;
    display: block;
    max-width: 140px;
    
}

.dots .ratio{
    padding-bottom: 31%;
    position: relative;
    width: 100%;
}

.dots .ratio img{
    opacity: 1;
    visibility: inherit;
}
.dots .ratio .Img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;

}

.triangle-wrapper .image{
    transform: rotate(0);
    width: 100%;
    height: 100%;

}

.image .ratio{
    
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.image .ratio .Img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.maxWidth .wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    max-width: 1200px;
    z-index: 1;
}

.wrapper .innerWrapper{
    max-width: 980px;
    width: 82%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.innerWrapper .title{
opacity: 1;
text-align: center;
position: relative;
margin: 0 auto 40px;
transform: translateZ(0);
width: 100%;

}

.innerWrapper .title .label{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
    font-size: 43px;
    line-height: 1.19;
    transform: translateZ(1000px);
    position: relative;

}
.innerWrapper .title .label .text{
  top: -100px;
  left: -10px;
    text-transform: capitalize;
    
   
    

}


 





.tech{
    font-size: 19px;
    color: #9f4fd8;
    font-weight: 600;

}


.articles{
    position: relative;
    background-color: #f2f4ff;
    transform: translateZ(0);
    
}

.articles::before{
    height: 200px;
    top: 0;
    transform: translateY(-100%);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(#fff,#f2f4ff);
    z-index: -2;

}

.articles::after{
    height: 400px;
    bottom: 0;
    transform: translateY(100%) scaleY(-1);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(#fff,#f2f4ff);
    z-index: -2;
}

.articles .maxWidth{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
   


}

.articles .maxWidth .styles-wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    max-width: 1200px;
    z-index: 1;

}

.articles .maxWidth .styles-wrapper .innerWrapper{
    max-width: 980px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
}

.articles .tagResault{
    display: flex;
    align-items: flex-end;
    /* margin: 20px -90px 50px; */
    width: 1030px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.tagResault .tagsWrapper{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.tagResault  .text{
    font-size: 15px;
    line-height: 22px;
    text-align-last: right;
    margin: 0 0 0 auto;
    text-align: center;
    white-space: nowrap;
    color: #9f4fd8;
}

.articles .cardsGrid{
    opacity: 0;
    grid-gap: 24px;
    grid-template-columns: repeat(3,minmax(25%,1fr));
    margin: 85px 0 0;
    width: 1050px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    position: relative;
    transform: translateZ(0);
    margin-left: auto;
    margin-right: auto;

    animation: CardAnimation  ;
    animation-duration: 1s;
    animation-fill-mode: forwards ;
    animation-delay: .5s;


    
    

}


@media (max-width:450) {
    .articles  .cardsGrid{
        grid-template-columns: repeat(1,minmax(25%,1fr));
       
    }
    
}

@media (max-width:768) {
    .articles .cardsGrid{
        grid-template-columns: repeat(2,minmax(25%,1fr));
    }
    
}


@keyframes CardAnimation{
    0%{
        opacity: 0;
        transform: translateZ(-1000px) translateX(-1000px);
      
    }
    100%{
        opacity: 1;
        transform: translateZ(1000px) translateX(0);
        
    }

}




/* .articles .buttonContainer{
    max-width: 1440px;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    transform: translateZ(1000px);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
    
    


} */

.articles .buttonContainer{
    opacity: 1; 
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;


}



.buttonContainer .styles-button{
    background-color: transparent;
    color: #9f4fd8;
    width: auto;
    position: relative;
    display: inline-block;
    transform: translateZ(900px);
    
    
    
    
   
    
    
}

.buttonContainer .styles-button .shadow{
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px rgb(26 26 67 / 10%);
    border-radius: 8px;
}

.buttonContainer .styles-button .background{
    transform: perspective(800px);
    background-color: #fff;
    color: #4e6294;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px rgb(26 26 67 / 10%);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid transparent;
    transition: border .2s ease;
    box-sizing: border-box;
    border-radius: 8px;
    

}
.buttonContainer .styles-button .background .hoverCircle{
    opacity: 0;
    transform: perspective(15px) translate3d(0px, 0px, -90px);
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.1);
    

}
.buttonContainer .styles-button:hover {

    transform: perspective(150px) translate3d(0px,0px,6px);
}




.buttonContainer .styles-button .buttonLink{
    text-transform: uppercase;
    color: inherit;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    padding: 18px 40px;
    border: none;
    text-decoration: none;
    text-align: center;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transform: translateZ(1000px);
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
}

.buttonLink .svgStyle{
    width: 10px;
    transform: rotate(90deg);
    margin-left: 10px;
    margin-right: -10px;
    transform-origin: center;
    overflow: hidden;
    fill: none;

}


.vision{

    position: absolute;
    right: 0;
    top: -80px;
    align-items: flex-end;
}



@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }


 












.text svg {
   
    display: block;
    font: 4em 'Montserrat';
    width: 500px;
    height: 200px;
    margin: 0 auto;

    
}

.text .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #8D1CB8;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #8D1CB8;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #8D1CB8;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #8D1CB8;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #ae28e4;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}



.text .liq-content{
   
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-left: 450px;
    top: -50px;
    
    
    

}

.text .liq-content h2{
    position: absolute;
    color:#fff;
    font-size: 1.7em;
    transform: translate(-50%,-50%);
    cursor: pointer;
    

}



.liq-content h2:nth-child(1){
    color:#fff;
-webkit-text-stroke: 2px #8D1CB8;
filter: brightness(130%);


}

.liq-content h2:nth-child(1):hover{
    -webkit-text-stroke: 2px #b73ee7;
    filter: brightness(130%);
   
}
.liq-content h2:nth-child(2){

    color:#8D1CB8 ;
    animation: liquid 2s ease-in-out infinite;

}

.liq-content h2:nth-child(2):hover{
    color:#b73ee7 ;
    filter: brightness(130%);
    

}
@keyframes liquid{


    0%,100%{
        clip-path: polygon(0% 45%,15% 44%,32% 50%, 54% 60% ,71% 61% , 84% 59%,100% 52%,100% 100% , 0% 100% ) ;
    }
    50%{

        clip-path: polygon(0% 60%, 61% 65% ,34% 66%,51% 62%,67% 50%,84% 45%,100% 46%,100% 100%, 0% 100%);
    }
}