.filterBar{
    opacity: 1; 
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.filterBar .selectWrapper{
    justify-content: flex-start;
    width: auto;
    min-width: 50%;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transform: translateZ(1000px);
    z-index: 1;
   
}

.selectWrapper .selects{
    margin-top: 0;
    width: auto;
    position: relative;
    outline: none;
    display: inline-flex;
    z-index: 1;
}

.selectWrapper .selects .btnContainer{

    width: auto;
    display: inline-block;
}


.selects .btnContainer .button:hover{
    transform: scale(1.03,1.03);
}


.selects .btnContainer .button{
    width: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    color: #8c4bff;
    position: relative;
    display: inline-block;
    transform: translateZ(900px);
}

.button .shadow{
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px rgb(26 26 67 / 10%);
    border-radius: 8px;

}


.button .background{
    transform: perspective(800px);
    background-color: #fff;
    color: #6514a0;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px rgb(26 26 67 / 10%);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid transparent;
    transition: border .2s ease;
    box-sizing: border-box;
    border-radius: 8px;
    
}


.button .background .hoverCircle{
    opacity: 0;
    transform: perspective(15px) translate3d(0px, 0px, -90px);
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.1);


}

.button button{

    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    margin: 0em;
    font: 400 13.3333px Arial;
   
}


.button .btnLink{
    color: #8c4bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    border-radius: 6px;
    box-shadow: none;
    color: inherit;
    position: relative;
    cursor: pointer;  
    border: none;
    text-decoration: none;
    text-align: center;
    outline: none;
    transform: translateZ(1000px);
    
}

.btnLink .text{

    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 19px;
    color: #6514a0;
}

.styles_arrow__2ystB{

    width: 9px;
    margin-left: 28px;
    fill: none;
    color: inherit;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
}

.inputText{
    margin-left: 20px;
   z-index: 1;
    flex: 1 0 auto;
    width: 20%;
    min-width: min-content;
    max-width: 300px;
    border: 1px solid transparent;
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgb(26 26 67 / 10%);
    background-color: #fff;
    border-radius: 6px;
    
   
    

}

.inputText:focus-within{
    border: 1px solid #5857a2;

}

.button .btnLink:focus{
    border: 1px solid #5857a2;

}


.inputText .search{
    appearance: none;
    font-family: Poppins,serif;
    font-size: 13px;
    font-weight: 400;
    background-color: transparent;
    border-radius: 6px;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;

}


.inputText input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;

}

.inputText .styles_icon__2MJKl{
    width: 14px;
    height: 14px;
    max-width: 14px;
    fill: #74E4A2;


}

.inputText:focus-within .styles_icon__2MJKl {
    
    fill: #5857a2;

}


 .styles-list{
    opacity: 0;
    /* visibility: inherit;
    transform: translate(0px, 0px); */
    z-index: 1;
    display: block;
    min-width: 100%;
    padding: 0 5px 0 0;
    box-sizing: border-box;
    position: absolute;
    top: calc(100% + 10px);
    left: 0px;

    animation: Animation  cubic-bezier(0.2, 0.82, 0.2, 1) alternate;
    animation-duration: .6s;
    animation-fill-mode: forwards ;
    animation-delay: 0.1s;
   
   
}




@keyframes Animation{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }

}


.styles-list .list-background{
    transform-origin: 121.828px 0px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px 0 rgb(117 141 166 / 21%);
    background-color: #fff;
    color: #6514a0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
}

.selectWrapper .styles-list .options{
    opacity: 1;
    max-height: 230px;
    overflow: auto;
    list-style: none;
    width: 250px;
   position: relative;
   
   
    

}


.options .item{
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 10px 8px;
    box-sizing: border-box;
    user-select: none;
    border-radius: 3px;
    font-size: 14px;
    line-height: 22px;
    color: #9f4fd8;
    font-weight: 400;
    margin: 0 auto;
    
    
}

.options .item:hover{
    
    color: #6514a0;
    background-color: #f5f8ff;
    border-radius: 6px;
}

.options .item:focus-within{
    
    color: #6514a0;
    background-color: #f5f8ff;
    border-radius: 6px;
}

.options .item:focus .box{
    background-color: #6514a0;
    border: 1px solid #5857a2;
}

.options .item .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #b8c0d4;
    background-color: transparent;
    margin-right: 10px;
}
.options .item .box:checked{
    background-color: #6514a0;
    border: 1px solid #5857a2;
}

 .item .box .styles_checkIcon{
    width: 8;
    height: 7;
    fill: none;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}